{% extends "base.html" %}
{% block title %}
<title>Simulation | About</title>
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div style="width:80%; margin-top:20px;">
        <h1 class="d-flex justify-content-center">
            About the project:
        </h1>
        <p>
            The project is dedicated to simulating certain social phenomena for the purpose of research.
            It is informal and the author doesn't have degrees in sociology or political studies. The reasons
            this project exists are the author's interest in the subject and will to improve technical skills.
        </p>
        <p>
            Currently the project is still in development, so any bugs and errors are to be expected.
        </p>
    </div>
</div>
{% endblock %}
