{% extends "layout.html" %}
{% block title %}
<title>Simulation | Home</title>
{% endblock %}
{% block content %}
<div class="container">
    <div style="margin-top:20px;">
        <h1 class="d-flex justify-content-center">The simulation window:</h1>
        <div class="d-flex justify-content-around">
            <div>
                <label for="sliderValue" >Amount of points:</label>
                <br>
                <input onchange="getTextInput()" id="textValue" type="number" min="2" max="1000" value="50"
                       style="width: 80px;">
                <br>
                <input oninput="getSliderInput()" id="sliderValue" type="range" min="2" max="1000" value="50">
                <script>
                    function getSliderInput(){
                        let val = document.getElementById("sliderValue").value;
                        document.getElementById("textValue").value = val;
                    }
                    function getTextInput(){
                        let val = document.getElementById("textValue").value;
                        val = parseInt(val);
                        if (val < 2){
                            val = 2;
                        }
                        if (val > 1000){
                            val = 1000;
                        }
                        document.getElementById("textValue").value = val;
                        document.getElementById("sliderValue").value = val;
                    }
                </script>
                <br>
                <div id="groups-list">
                </div>
                <div id="new-group">
                </div>
                <div id="controller">
                    <button onclick="fillGroup()" class="btn btn-dark" type="button">Add group</button>
                </div>
            </div>
            <canvas id="simulation" width="500" height="300"
            style="border:1px solid black">
            </canvas>
            <div>
                <label for="amount">Amount of points:</label>
                <br>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 20px;">
            <button type="button" class="btn btn-dark" onclick="simulation()">Start the simulation</button>
        </div>
    </div>
</div>
<script src="../static/js/simulation.js"></script>
{% endblock %}
